* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Roboto;
  background-color: #fff;
}

.container {
  max-width: 1140px;
  margin: auto;
}

img {
  max-width: 100%;
}

.button {
  cursor: pointer;
}

.input {
  background-color: #fff;
  border-radius: 4px;
  border: none;
  padding: 0 23px 0 23px;
  height: 50px;
  outline: none;
}

.message {
  background-color: #fff;
  border-radius: 4px;
  border: none;
  padding: 18px 23px;
}

.btn {
  cursor: pointer;
  opacity: 1;
}
.btn:hover {
  opacity: 0.6;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.invalid {
  color: #EC1F46;
  border-bottom: 1px solid #EC1F46;
  z-index: 102;
}

.vertical-logo {
  display: inline;
}

#phone-error {
  position: absolute;
  top: -20px;
  left: 20px;
  padding: 5px;
  color: #fff;
  background-color: #EC1F46;
  border-radius: 8px;
  font-size: 14px;
}

#name-error {
  position: absolute;
  top: -20px;
  left: 20px;
  padding: 5px;
  color: #fff;
  background-color: #EC1F46;
  border-radius: 8px;
  font-size: 14px;
}

#modalEmail-error {
  position: absolute;
  top: -20px;
  left: 20px;
  padding: 5px;
  color: #fff;
  background-color: #EC1F46;
  border-radius: 8px;
  font-size: 14px;
}

#email-error {
  position: absolute;
  top: -20px;
  left: -20px;
  max-width: 320px;
  padding: 5px;
  color: #fff;
  background-color: #f35371;
  border-radius: 8px;
  font-size: 14px;
}

a {
  text-decoration: none;
  opacity: 1;
}
a:hover {
  opacity: 0.6;
}

textarea {
  resize: none;
}

.test {
  background-color: red;
  width: 100%;
  height: 20px;
}

.lnk {
  color: #1565D8;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.header-menu {
  width: 100%;
  padding: 36px 0;
  margin: 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 90px;
}

.header-menu__menu-button {
  display: none;
}

.header-nav__link {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #183B56;
  text-decoration: none;
}
.header-nav__link:nth-last-child(n+2) {
  margin-right: 20px;
}

.header-menu__button {
  color: #1565D8;
  border: 2px solid #1565D8;
  background-color: #fff;
  padding: 13px 34px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}

.header-nav {
  margin-left: auto;
  margin-right: 61px;
}

.book-container {
  display: flex;
  justify-content: space-between;
  margin-top: 57px;
  margin-bottom: 100px;
}

.book-text {
  padding-top: 46px;
  padding-bottom: 56px;
  max-width: 584px;
  display: flex;
  flex-direction: column;
}

.book-title {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.2px;
  max-width: 444px;
  margin-top: 0;
  margin-bottom: 28px;
  margin-left: 0;
  margin-right: 0;
}

.book-author {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #183B56;
  display: block;
  margin-bottom: 36px;
}

.book-author__text {
  color: #5A7184;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  display: block;
  letter-spacing: 0px;
  margin-bottom: 55px;
}

.book-button__buy {
  padding: 18px 37px;
  background-color: #1565D8;
  color: #fff;
  border: none;
  border-radius: 8px;
  overflow: hidden;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  margin-right: 22px;
}

.book-button__read {
  padding: 15px 54px;
  background-color: #fff;
  color: #1565D8;
  border: 2px solid #1565D8;
  border-radius: 8px;
  overflow: hidden;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

.book-image {
  padding: 103px 119px;
  background: rgba(179, 186, 197, 0.1);
}

.image {
  background: rgba(0, 0, 0, 0.0001);
  box-shadow: 0px 20px 24px rgba(0, 0, 0, 0.08);
}

.offer-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 79px;
  width: 1147px;
}

.offer-title {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.2px;
  color: #183B56;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: -3px;
}

.recommendations-wrap {
  display: flex;
  flex-wrap: wrap;
  max-width: 748px;
  gap: 32px;
  justify-content: space-between;
  align-items: baseline;
}

.recommendations-card {
  width: 358px;
  height: 260px;
  border: 1px solid #ECEEF2;
  border-radius: 8px;
  display: flex;
  overflow: visible;
}

.recommendations-card__image {
  padding: 8px 5px 9px 4px;
}

.recommendations-card__text {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 21px 2px 25px 15px;
  width: 50%;
  justify-content: space-between;
}

.recommendations-card__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.2px;
  margin: 0;
  color: #183B56;
}

.recommendations-card__theme {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #183B56;
  height: 35px;
}

.recommendations-card__price {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #1565D8;
  height: 35px;
}

.recommendations-card__buttons {
  display: flex;
  align-items: flex-end;
}

.recommendations-card__button {
  color: #fff;
  padding: 7px 20px;
  background-color: #183B56;
  border-radius: 2000px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  border: none;
  max-width: fit-content;
  margin-right: 25px;
}

.recommendations-card__favourites {
  background: none;
  border: none;
  width: 18px;
  padding: 0 0 4px 0;
  margin: 0;
}

.favouritesRed {
  fill: red;
}

.recommendations-button {
  color: #1565D8;
  background-color: rgba(21, 101, 216, 0.1);
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  border-radius: 8px;
  border: none;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  margin-top: 24px;
}

.bestsellers {
  display: flex;
  flex-direction: column;
}

.bestsellers-wrap {
  width: 360px;
  height: auto;
  background-color: rgba(179, 186, 197, 0.1);
  border-radius: 8px;
  padding-top: 24px;
}

.bestsellers-card {
  height: 178px;
  display: flex;
  padding-left: 24px;
  padding-right: 24px;
}
.bestsellers-card:nth-last-child(n+4) {
  margin-bottom: 35px;
}
.bestsellers-card:nth-child(4) {
  margin-bottom: 27px;
}

.bestsellers-card__image {
  margin-right: 26px;
  width: 119px;
  height: 100%;
}

.bestsellers-card__text {
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: space-between;
  padding-top: 9px;
  padding-bottom: 9px;
}

.bestsellers-card__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.2px;
  margin: 0;
  color: #183B56;
}

.bestsellers-card__theme {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #183B56;
}

.bestsellers-card__price {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #1565D8;
  height: 30px;
}

.bestsellers-card__buttons {
  display: flex;
  align-items: flex-end;
}

.bestsellers-card__button {
  color: #fff;
  padding: 7px 20px;
  background-color: #183B56;
  border-radius: 2000px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  border: none;
  max-width: fit-content;
  margin-right: 25px;
}

.bestsellers__line {
  background-color: #ECEEF2;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 0;
  height: 1px;
  border: none;
}

.bestsellers-button {
  color: #1565D8;
  background-color: transparent;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  /* margin-left: 24px; */
  margin-right: 24px;
  border-radius: 8px;
  border: none;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  /* border-top: 1px solid red; */
  text-transform: uppercase;
}

.separate {
  background-color: #ECEEF2;
  margin-bottom: 0;
  height: 1px;
  border: none;
  width: 100%;
}

.categories-container {
  margin-top: 60px;
  margin-bottom: 100px;
}

.categories-slider {
  position: relative;
}

.swiper-slide__image {
  text-align: center;
  border: 1px solid #ECEEF2;
  border-radius: 8px;
}

.categories-slider__button {
  width: 56px;
  height: 56px;
  background-color: #fff;
  box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.08);
  border-radius: 2000px;
  border: none;
  background-size: 18px;
  background-position: center;
  background-repeat: no-repeat;
}

.categories-slider__button--prev {
  margin-top: calc(0px - (var(--swiper-navigation-size)/ 1.5));
  background-image: url(../img/button-prev.svg);
  left: 0;
  transform: translateX(-50%);
}

.categories-slider__button--prev::after {
  content: "";
}

.categories-slider__button--next {
  margin-top: calc(0px - (var(--swiper-navigation-size)/ 1.5));
  background-image: url(../img/button-next.svg);
  right: 0;
  transform: translateX(50%);
}

.categories-slider__button--next::after {
  content: "";
}

.swiper-button-prev.swiper-button-disabled.categories-slider__button {
  opacity: 0;
}

.swiper-button-next.swiper-button-disabled.categories-slider__button {
  opacity: 0;
}

.unreleased {
  background-color: #183B56;
}

.unreleased-container {
  padding-top: 62px;
  padding-bottom: 80px;
}

.unreleased-top {
  position: relative;
}

.unreleased-title {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 60px;
}

.unreleased-slide__card {
  display: flex;
  text-align: center;
  border-radius: 8px;
  object-fit: cover;
  width: 204px;
  height: 298px;
  overflow: hidden;
}

.unreleased-slide__image {
  width: 220px;
  height: 320px;
  overflow: hidden;
}

.unreleased-slider__button {
  width: 56px;
  height: 56px;
  background-color: transparent;
  box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.08);
  border-radius: 2000px;
  border: 2px solid #fff;
  background-size: 18px;
  background-position: center;
  background-repeat: no-repeat;
}

.unreleased-slider__button--prev {
  margin-top: calc(0px - (var(--swiper-navigation-size)/ 1.5));
  position: absolute;
  left: auto;
  right: 50px;
  background-image: url(../img/button-prev-light.svg);
  transform: translateX(-50%);
}

.unreleased-slider__button--prev::after {
  content: "";
}

.unreleased-slider__button--next {
  margin-top: calc(0px - (var(--swiper-navigation-size)/ 1.5));
  position: absolute;
  right: 0;
  background-image: url(../img/button-next-light.svg);
}

.unreleased-slider__button--next::after {
  content: "";
}

.history-container {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 1005px;
}

.history-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.history__title {
  width: 50%;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.2px;
  color: #183B56;
  align-content: flex-end;
}

.history__text {
  width: 50%;
  width: 382px;
  margin-right: 35px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #5A7184;
}

.history-video1 {
  width: 100%;
  position: relative;
  flex-basis: 100%;
}

.history-video1__button {
  position: absolute;
  padding: 0;
  margin: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  transform: translateX(-50%);
  transform: translateY(-50%);
  background-size: 39px;
  background-position: center;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  width: 100px;
  height: 100px;
  background-image: url(../img/playbutton_blue.svg);
  background-repeat: no-repeat;
  background-size: 30px;
}

.history-video {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.history-video2 {
  position: relative;
}

.history-video2__image {
  margin-bottom: 13px;
}

.history-video2__button {
  position: absolute;
  padding: 0;
  margin: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  transform: translateY(-50%);
  background-size: 19px;
  background-position: center;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;
  background-image: url(../img/playbutton_white.svg);
  background-repeat: no-repeat;
  background-size: 30px;
}

.history__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.history-video__name {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #183B56;
  margin-bottom: 7px;
}

.history-video__author {
  margin: 0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #5A7184;
}

.history__bookmark {
  margin-top: 8px;
}

.partners {
  background-color: #B3BAC5;
}

.partners-container {
  padding-top: 80px;
  padding-bottom: 101px;
}

.patrners__title {
  text-align: center;
  margin: 0;
  padding-bottom: 51px;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}

.partners-wrapper {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 52px 0px;
  justify-content: space-between;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.partners__image {
  max-width: 100%;
}

.blog-container {
  padding-top: 100px;
  padding-bottom: 71px;
}

.blog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}

.blog__title {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.2px;
  color: #183B56;
  margin: 0;
}

.blog-button__all {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #1565D8;
  background-color: transparent;
  padding: 12px 54px;
  border: 2px solid #1565D8;
  box-sizing: border-box;
  border-radius: 22px;
}

.blog-grid {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.blog-story {
  max-width: 556px;
}

.blog-story__image {
  margin-bottom: 30px;
  border-radius: 8px;
  overflow: hidden;
}

.blog-story__title {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #183B56;
  margin-top: 0;
  margin-bottom: 16px;
  margin-left: 10px;
}

.blog-story__text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #5A7184;
  margin-left: 10px;
}

.blog-article {
  display: flex;
  flex-direction: column;
}

.blog-article__card {
  display: flex;
  height: 150px;
  margin-bottom: 30px;
}

.blog-article__image {
  margin-right: 36px;
  border-radius: 8px;
}

.blog__date {
  text-transform: uppercase;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #5A7184;
}

.blog-article__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #183B56;
  margin-top: 23px;
  margin-bottom: 17px;
}

.blog-button__read {
  text-transform: uppercase;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #1665D8;
}

.newsletter-container {
  height: 236px;
  display: flex;
  background-image: url(../img/subscribe-bg.jpg);
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 60px 0 60px;
  border: none;
  border-radius: 12px;
}

.newsletter {
  position: relative;
  height: 100%;
}
.newsletter-title {
  margin: 0;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  width: 393px;
  margin-bottom: 18px;
}
.newsletter-subscribe {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF;
  border: 1px solid #C3CAD9;
  border-radius: 8px;
  padding: 4px;
  width: 447px;
  height: 56px;
}
.newsletter-subscribe__input {
  border-radius: 4px;
  width: 100%;
  outline: none;
  height: 100%;
  border: none;
  padding-left: 0px;
  padding-right: 10px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #5A7184;
}
.newsletter-subscribe__input::placeholder {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #959EAD;
}
.newsletter-subscribe__input-group {
  height: 100%;
  border: none;
  padding-left: 33px;
  padding-right: 75px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}
.newsletter-subscribe__button {
  border: none;
  cursor: pointer;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  background-color: #FAAD13;
  border-radius: 4px;
  padding: 13px 28px;
}

.subsribe__input {
  display: flex;
  width: 100%;
}

.subsribe__icon {
  width: 16px;
  margin-left: 16px;
  margin-right: 5px;
}

.footer-container {
  padding-top: 108px;
}

.footer-top {
  display: flex;
  padding-right: 149px;
  margin-bottom: 73px;
}

.footer-info {
  margin-right: 30px;
}

.footer-logo {
  margin-bottom: 28px;
}

.footer__text {
  width: 263px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 28px;
  color: #5A7184;
  margin-bottom: 28px;
}

.social {
  display: flex;
}

.social__icon {
  margin-right: 6px;
}

.footer-link {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #183B56;
}

.footel-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-item {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #183B56;
  margin-bottom: 24px;
}

.copyright {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.copyright__logo {
  width: 56px;
  height: 56px;
  background-color: blue;
  border-radius: 2000px;
  border: none;
  background-size: 18px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/heart.svg);
  left: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
}

.modal__overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(179, 186, 197, 0.7);
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s;
}
.modal__overlay--visible {
  visibility: visible;
  opacity: 1;
}
.modal__dialog {
  width: 95%;
  max-height: 90%;
  overflow-y: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 478px;
  padding: 33px 88px;
  background-color: #183B56;
  transform: translate(-50%, -50%);
  color: #fff;
  border-radius: 8px;
  z-index: 101;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s;
}
.modal__dialog--visible {
  visibility: visible;
  opacity: 1;
}
.modal__close {
  position: absolute;
  right: 18px;
  top: 17px;
  text-decoration: none;
  cursor: pointer;
}
.modal__input {
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  border: none;
  padding: 0 23px 0 23px;
  height: 50px;
  font-size: 16px;
}
.modal__input-group {
  position: relative;
  margin-top: 15px;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 15px;
}
.modal__message {
  width: 100%;
  min-height: 123px;
  margin-top: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 15px;
}
.modal__button {
  margin-top: 15px;
  padding: 20px;
  background-color: #1565D8;
  border: none;
  border-radius: 8px;
  color: #fff;
  text-transform: uppercase;
}
.modal__info {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #E0E0E0;
}
.modal__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}

.input {
  background-color: #fff;
  border-radius: 4px;
  border: none;
  padding: 0 23px 0 23px;
  height: 50px;
  outline: none;
}/*# sourceMappingURL=style.css.map */